# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
*.log
.DS_Store
.env
.env.*
.eslintrc
.eslintrc.json
.github/
.gitcarve/
.gitignore
.markdown-doctest-setup.mjs
.npmignore
.prettierrc
.vscode/
.yarn/
.yarnrc.yml
README.md
babel.config.js
cloudbuild.yaml
coverage/
dist/tests/
jest.config.js
jest.config.ts
node_modules/
nodemon.json
pnpm-lock.yaml
src/
tests/
tsconfig.json
vite.config.ts
yarn.lock
